.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  rgb(231, 230, 163);
  }
  
  .aboutTop {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: center;
    margin-top: 40px;
  }
  
  .aboutBottom p {
    width: 70%;
    line-height: 1.5;
    color: rgb(80, 47, 47);
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 60px;
    color: rgb(80, 47, 47);
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
   
  }